<div class="tabs">
  <ul class="nav nav-tabs" id="myTab">
    <% var tabs = locals.tabs%>
      <%for (var r in tabs){%>
        <li><a href=#<%=r%>><%=tabs[r]%></a></li>
        <%}%>
  </ul>

  <div class="form-group pull-right  col-xs-3 col-sm-6 col-md-4">
    <form class="" method="post">
      <div class="col-md-8 col-sm-8 col-xs-12 ">
        <%-include('/components/input/searchInput',{name:"search_box",placeholder:"在这里输入关键字"})%>
      </div>
      <button type="submit" class="btn btn-primary col-md-4  col-xs-4 hidden-xs ">Query</button>
    </form>
  </div>

</div>
