<div class="contentTitle clearfix">
  <h3>数据字典</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
    </div>
  </div>
</div>

<div class="operation-menu">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Add">添加字典</button>
</div>

<div class="table-content tab-content">
  <div class="tab-pane active" id="Brochure-table-container">
    <table class="table table-bordered table-hover">
    </table>
  </div>
</div>
<%-include('/components/modal/modal',{type:"Admin.Optionlist.Add"})%>
  <%-include('/components/modal/modal',{type:"Admin.Optionlist.Edit"})%>
    <%-include('/components/modal/modal',{type:"Common.Delete"})%>
      <script>
        //载入物品操作
        var table_init = function() {
          generateTableWithPageHelper({
            target: "#Brochure-table-container",
            templateOpts: tableStructures.Admin.Dictionary,
            counter: apiConfig.optionlist.Count(),
            datasourceAPI: apiConfig.optionlist.Paging,
            options: {}
          })
        }

        //删除物品记录操作
        var Delete = function(rid) {
          window._target = apiConfig.optionlist.Get(rid)
          $("#Delete")
            .modal()
        }

        var deleteSubmit = function() {
          if (window._target) {
            var id = window._target["_id"]
            var result = apiConfig.optionlist.Delete(id)
            if (result == true) {
              new MessageAlert("删除成功", MessageAlert.Status.SUCCESS)
            } else {
              new MessageAlert("添加失败", MessageAlert.Status.EXCEPTION)
            }
            $("#Delete").modal("hide")
          }
          table_init()
        }
        //编辑操作
        var edit = function(rid) {
          window._target = apiConfig.optionlist.Get(rid)
          autoComplateInfo(window._target, "#edit_Option")
          $("#Edit")
            .modal()
        }

      </script>
