<script>
  window.currentPos="orderAdmin"
</script>

<div class="contentTitle">
<h3>订单管理</h3>
</div>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{applying:"处理中",finished:"已完成",reject:"已拒绝"}})%>
  <div class="operation-menu">
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="applying">
    </div>
    <div class="tab-pane" id="finished">
    </div>
    <div class="tab-pane" id="reject">
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
  <%-include('/components/modal/modal',{type:"Common.Delete"})%>
<%-include('/components/modal/modal',{type:"Admin.Order.Detail"})%>
<%-include('/components/table/table.init.ejs',{container:"#applying",url:"./test/order-table-data.json"})%>
