<div class="contentTitle clearfix">
  <h3>供应商</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control searchBox" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">查询</button>
  </div>
</div>

<div class="operation-menu">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Add">添加供应商</button>
</div>

<div class="table-content tab-content">
  <div class="tab-pane active" id="Supplier-table-container">
    <table class="table table-bordered table-hover">
    </table>
  </div>
</div>
<%-include('/components/modal/modal',{type:"Admin.SupplierAdmin.Add"})%>
  <%-include('/components/modal/modal',{type:"Admin.SupplierAdmin.Edit"})%>
    <%-include('/components/modal/modal',{type:"Common.Delete"})%>
      <script>
        //载入供应商表操作
        var table_init = function() {
          generateTableWithPageHelper({
            target: "#Supplier-table-container",
            templateOpts: tableStructures.Admin.SupplierAdmin.Supplier,
            counter: apiConfig.supplier.Count(),
            datasourceAPI: apiConfig.supplier.Paging,
            options: {
            }
          })
        }
        //删除供应商操作
        var Delete = function(rid) {
          window._target = apiConfig.supplier.Get(rid)
          $("#Delete")
            .modal()
        }
        var deleteSubmit = function() {
          if (window._target) {
            var id = window._target["_id"]
            var result = apiConfig.supplier.Delete(id)
            if(result == true){new MessageAlert("删除成功", MessageAlert.Status.SUCCESS)}else{new MessageAlert("添加失败", MessageAlert.Status.EXCEPTION)}
            $("#Delete").modal("hide")
          }
          table_init()
        }
        var search=function() {}
        //编辑供应商操作
        var edit = function(rid) {
          window._target = apiConfig.supplier.Get(rid)
          autoComplateInfo(window._target, "#edit_Supplier")
          $("#Edit")
            .modal()
        }
        var search = function() {
          var keyword = filterXSS($("input.searchBox").val().trim())
          if ("" == keyword) {
            table_init()
            return
          }
          generateTableWithPageHelper({
            target: "#Supplier-table-container",
            templateOpts: tableStructures.Admin.SupplierAdmin.Supplier,
            counter: apiConfig.supplier.Count(),
            datasourceAPI: apiConfig.supplier.Search,
            options: {
              keyword:keyword
            }
          })
        }
      </script>
