<div class="modal fade lg-modal" id="purchaseRequisition" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">订单申请</h4>
      </div>

      <div class="modal-body">
        <form class="form" action="index.html" method="post">
          <div class="modal-infopart baseInfomation form-group">
            <input type="text" name="itemId" id="itemId" value="" hidden>
            <div class="form-group col-md-4 search_box_warp">
              <label for="dealerId">代理商:</label>
              <input name="dealerId" id="dealerId" placeholder="请输入代理商" class="form-control" />
              <ul class="dropdown-menu keyhint"></ul>
            </div>

            <div class="form-group col-md-4">
              <label for="area">区域:</label>
              <input type="text" name="area" id="area" value="Area" hidden>
              <select class="form-control" class="area" id="area">
                <option value="-1" selected>请选择地区</option>
                <option value="hddq">华东地区</option>
                <option value="hbdq">华北地区</option>
                <option value="hzdq">华中地区</option>
                <option value="xndq">西南地区</option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="PurposeFK">用途:</label>
              <input type="text" name="PurposeFK" id="PurposeFK" value="PurposeFK" hidden>
              <select name="PurposeFK" id="PurposeFK" class="form-control">
                <option value="-1" selected>请选择用途</option>
                <option value="">一般销售用途</option>
                <option value="">区域会议</option>
                <option value="">全国性会议</option>
              </select>
            </div>
            <input type="text" name="saveTime" id="saveTime" value="" hidden>
            <input type="text" name="saver" id="saver" value="" hidden>
            <div class="Comments editable col-md-12" id="Comments">
              <span>备注：</span>
              <textarea name="Comments" rows="4"></textarea>
            </div>

          </div>
          <div class="modal-infopart goodsInfomation">
            <button type="button" name="addPR" id="addPR" class="btn btn-primary addBtn" data-toggle="modal" data-target="#AddBrochureType"><span class="glyphicon glyphicon-plus"></span></button>
            <div id="InfomationAddArea">

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success col-xs-3 col-md-3 col-xs-offset-1" onclick="Draft()">Draft</button>
        <button type="submit" class="btn btn-primary col-xs-3 col-md-3">提交</button>
        <button type="button" class="btn btn-danger col-xs-3 col-md-3" data-dismiss="modal" aria-hidden="true">取消</button>
      </div>
    </div>
  </div>
</div>
<%-include('/components/modal/type/PurchaseRequisition-type')%>

  <script>
    function getPrototypies(uid, pname) {
      var c = $.ajax({
        url: './test/userInfo.json', // api统一接口不同参数获取用户信息
        type: "GET",
        async: false
      })
      var j = JSON.parse(c.responseText)
      var r = j[uid][pname]
      return r
    }

    function autoComplateInfoOfDealer() {
      if ("dealer" == getCookie("auth")) {
        $("#dealerId").val("dealer")
        $("#dealerId").attr("disabled", "true")

        $("#area").val(getPrototypies("dealer", "area"))
        $("#area").attr("disabled", "true")
      }
    }
    var row_counter = 0

    function Draft() {
      // console.log("Draft");
      $("#itemId").val(new Date().getDay() + "-" + (getCookie("auth") + "-" + new Date().getSeconds()))
      $("#saveTime").val(new Date())
      $("#saver").val(getCookie("auth"))
      if (!window.__draftTable) {
        var draftTable = new table()
        var t = {
          "tablename": "Draft",
          "rowsperpage": 10,
          "hasHeader": true,
          "hasButton": true,
          "keyArr": ["prop", "id", "key", "prop", "prop", "prop", "prop"]
        }

        draftTable.new(t, ["编号", "序號", "代理商", "用途", "区域", "保存時間", "保存人"]).to($("#draft"))
        window.__draftTable = draftTable
      }
      var arr = []
      arr.push(++row_counter)
      var selects = $("#purchaseRequisition select")
      var inputs = $("#purchaseRequisition input")
      for (var i = 0; i < inputs.length; i++) {
        arr.push($(inputs[i]).val())
      }

      if (window.__draftTable) {
        window.__draftTable.addRow(arr)
      }
      var a = selects.not('[disabled]')
      var b = inputs.not('[disabled]')
      for (var j = 0; j < a.length; j++) {
        $(a[i]).val("-1")
      }
      for (var i = 0; i < b.length; i++) {
        $(b[i]).val("")
      }
      // t.addRow()
      $("#purchaseRequisition").modal('hide')
    }

  </script>
