<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>HomePage</title>
</head>

<body>
    <div id="right_wapper">
      <header id="header_wapper">
        <%-include("/header")%>
      </header>
      <div id="content_wapper" class="container-fluid">
        <%-include("/content/order-content")%>
      </div>
    </div>
    <div id="left_wapper">
      <div id="sideNav_wapper" class="nav-show">
        <%-include("/sideNav")%>
      </div>
    </div>

    <link rel="stylesheet" href="./css/plugs/bootstrap.css">
    <link rel="stylesheet" href="./css/sidenav.css">
    <link rel="stylesheet" href="./css/header.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/content.css">
    <link rel="stylesheet" href="./css/components.css">
    <link rel="stylesheet" href="./css/plugs/buttons.css">
    <link rel="stylesheet" href="./css/plugs/blue.css">
    <link rel="stylesheet" href="./css/plugs/font-awesome.min.css">
    <link rel="stylesheet" href="./css/plugs/datetimepicker.css">

<!--[if !IE]> -->
    <script type="text/javascript" src="./js/plugs/jquery.js"></script>
<!-- <![endif]-->
<!--[if lte IE 8]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<![endif]-->
<!--[if gt IE 8]>
<script type="text/javascript" src="./js/plugs/jquery.js"></script>
<![endif]-->
    <script type="text/javascript" src="./js/plugs/bootstrap.js"></script>
    <script type="text/javascript" src="./js/sidenav.js"></script>
    <script type="text/javascript" src="./js/content.js"></script>
    <script type="text/javascript" src="./js/plugs/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="./js/plugs/icheck.js"></script>
    <script type="text/javascript" src="./js/plugs/xss.js"></script>
    <script type="text/javascript" src="./js/init.js"></script>
    <script type="text/javascript" src="./js/components.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <script type="text/javascript">
      $(document).ready(function() {
        for (var i in init) {
          for (var j in init[i])
            init[i][j]()
        }
      })
    </script>

</body>

</html>
