<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid" id="login-wapper">
      <div class="system-name">Marketing Materials Management</div>
    <div class="bg row">
      <div class="logo">
      </div>
    </div>
    <div class="login-box col-center-block">
      <form class="form-inline" role="form" method="post" onsubmit="return login()">
        <div class="form-group loginInputGroup col-center-block">
          <div class="input-group input-group-md col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <input type="text" class="form-control" id="userid" name="userid" placeholder="输入您的用户名">
          </div>
          <div class="input-group input-group-md col-lg-12 col-md-12 col-xs-12 col-sm-12">
            <input type="password" class="form-control" id="password" name="password" placeholder="输入您的密码">
          </div>
          <div id="slide-wrapper">
            <input type="hidden" value="" id="lockable" />
            <div id="slider">
              <span id="label"><span id="label-shadow"></span></span>
              <span id="lableTip">Slide to unlock!</span>
            </div>
          </div>
          <div class="input-group input-group-lg col-lg-12 col-md-12 col-xs-12 col-sm-12">
          </div>
          <div class="btn-group btn-block">
            <button type="submit" name="button" class="btn btn-block btn-primary">登陆</button>
          </div>
        </div>
      </form>
    </div>

</body>
<style media="screen">

</style>

</html>

<!-- CSS -->

<link rel="stylesheet" href="./css/plugs/buttons.css">
<link rel="stylesheet" href="./css/login.css">
<link rel="stylesheet" href="./css/components.css">
<link rel="stylesheet" href="./css/plugs/bootstrap.css">
<link rel="stylesheet" href="./css/plugs/slideunlock.css">
<script type="text/javascript" src="./js/plugs/jquery.js"></script>
<script type="text/javascript" src="./js/plugs/slideunlock.min.js"></script>
<script type="text/javascript" src="./js/cookies.js"></script>

<!-- Favicon -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<script type="text/javascript">
  var e = elem => document.querySelector(elem)
  var log = (e) => console.log.bind(console)(e)

  $(function() {
    var slider = new SliderUnlock("#slider", {
      labelTip: "滑动验证",
      successLabelTip: "验证成功"
    }, function() {
      login()
    }, function() {});
    slider.init();
  })

  function login() {

    switch (e('#userid').value) {
      case 'admin':
        window.location.href = "/admin-home.html"
        setCookie("auth","admin")
        break
      case 'dealer':
        window.location.href = "/dealer-home.html"
        setCookie("auth","dealer")
        break
      case 'supplier':
        window.location.href = "/supplier-home.html"
        setCookie("auth","supplier")
        break
      case 'sales':
        window.location.href = "/dealer-home.html"
        setCookie("auth","sales")
        break
    }
    return false
  }
</script>
