<%-include('./components/input/JumpInput',{type:'text',name:'username',icons:'glyphicon-user',placeholder:'type your username',index:1})%>
  <%-include('./components/input/JumpInput',{type:'password',name:'password',placeholder:'type your password',index:2})%>

    <%-include('./components/input/JumpButton',{index:3})%>
      <div class="" id="dmEvent">
        NoMoving
      </div>
      <link rel="stylesheet" href="./css/plugs/bootstrap.css">
      <link rel="stylesheet" href="./css/plugs/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="./css/components.css" />
      <script type="text/javascript" src="./js/plugs/jquery.js"></script>
      <script type="text/javascript" src="./js/plugs/bootstrap.js"></script>
      <script type="text/javascript">
        $(document).ready(function() {
              if (window.DeviceMotionEvent) {
                  window.addEventListener('devicemotion', function(eventData) {
                    document.getElementById("dmEvent").innerHTML=(eventData.accelerationIncludingGravity.x);
                    // console.log(eventData.accelerationIncludingGravity);
                  }, false);
                } else {
                  document.getElementById("dmEvent").innerHTML = "Not supported on your device."
                }
              })
      </script>
