* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
#topNav_wapper {
  color: #337ab7;
  float: left;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#E7EEF5), color-stop(60%, #F5F9FD));
  background: -webkit-linear-gradient(bottom, #E7EEF5 0%, #F5F9FD 60%);
  background: -moz-linear-gradient(bottom, #E7EEF5 0%, #F5F9FD 60%);
  background: -o-linear-gradient(bottom, #E7EEF5 0%, #F5F9FD 60%);
  background: linear-gradient(to top, #E7EEF5 0%, #F5F9FD 60%);
}
@media (max-width: 768px) {
  #topNav_wapper {
    background: -webkit-gradient(linear, left bottom, left top, from(#C2CFDD), color-stop(60%, #F5F9FD));
    background: -webkit-linear-gradient(bottom, #C2CFDD 0%, #F5F9FD 60%);
    background: -moz-linear-gradient(bottom, #C2CFDD 0%, #F5F9FD 60%);
    background: -o-linear-gradient(bottom, #C2CFDD 0%, #F5F9FD 60%);
    background: linear-gradient(to top, #C2CFDD 0%, #F5F9FD 60%);
  }
}
#topNav_wapper li,
#topNav_wapper ul {
  list-style: none;
  float: left;
}
@media (max-width: 768px) {
  #topNav_wapper .sidebar-nav {
    border-top: 1px solid #cddbeb;
    background: -webkit-gradient(linear, left bottom, left top, from(#C2CFDD), color-stop(30%, #F5F9FD));
    background: -webkit-linear-gradient(bottom, #C2CFDD 0%, #F5F9FD 30%);
    background: -moz-linear-gradient(bottom, #C2CFDD 0%, #F5F9FD 30%);
    background: -o-linear-gradient(bottom, #C2CFDD 0%, #F5F9FD 30%);
    background: linear-gradient(to top, #C2CFDD 0%, #F5F9FD 30%);
  }
}
#topNav_wapper .sidebar-nav .section {
  float: left;
}
#topNav_wapper .sidebar-nav .section a:active,
#topNav_wapper .sidebar-nav .section a:link {
  color: #337ab7;
}
#topNav_wapper .sidebar-nav .section a:hover {
  color: #ff0500;
}
#topNav_wapper .sidebar-nav .section a:hover,
#topNav_wapper .sidebar-nav .section a:visited {
  background: -webkit-gradient(linear, left bottom, left top, from(#C2CFDD), to(#fff));
  background: -webkit-linear-gradient(bottom, #C2CFDD, #fff);
  background: -moz-linear-gradient(bottom, #C2CFDD, #fff);
  background: -o-linear-gradient(bottom, #C2CFDD, #fff);
  background: linear-gradient(to top, #C2CFDD, #fff);
  margin: -1px;
  border: 1px solid #DCE4E9;
}
#topNav_wapper .sidebar-nav .section .dropdown-menu {
  background: -webkit-gradient(linear, left bottom, left top, from(#F6F9FB), to(#E9F2F6));
  background: -webkit-linear-gradient(bottom, #F6F9FB, #E9F2F6);
  background: -moz-linear-gradient(bottom, #F6F9FB, #E9F2F6);
  background: -o-linear-gradient(bottom, #F6F9FB, #E9F2F6);
  background: linear-gradient(to top, #F6F9FB, #E9F2F6);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
@media (max-width: 768px) {
  #topNav_wapper .sidebar-nav .section .dropdown-menu {
    position: relative;
  }
}
#topNav_wapper .sidebar-nav .section .glyphicon {
  padding-right: 1rem;
}
#topNav_wapper .sidebar-nav .section.subsection {
  width: 100%;
}
#topNav_wapper .sidebar-nav .section.subsection a {
  color: #337ab7;
  padding: 1rem;
}
#topNav_wapper .sidebar-nav .section.subsection a:hover {
  color: #ff0500;
}
#topNav_wapper .sidebar-nav .caret {
  position: absolute;
  top: 1.5rem;
}
#topNav_wapper .sideBtn {
  position: fixed;
  display: block;
  background-color: #7D8892;
}
#topNav_wapper .sideBtn .glyphicon {
  color: #fff;
  display: block;
  top: 35%;
}
@media (min-width: 768px) {
  #topNav_wapper .logo,
  #topNav_wapper .sideavatar {
    display: none;
  }
  #topNav_wapper .topNav {
    display: block;
    width: 100%;
  }
  #topNav_wapper .sideBtn {
    display: none;
  }
}
@media (max-width: 500px) {
  #topNav_wapper .logo small {
    font-size: 0.7rem;
  }
}
#topNav_wapper::after {
  clear: both;
}
@media (max-width: 768px) {
  #topNav_wapper {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1030;
    border: none;
  }
  #topNav_wapper .logo {
    position: fixed;
    display: block;
    z-index: 1031;
    width: 100%;
    min-width: 24rem;
    top: 1rem;
    font-size: 2rem;
    overflow: hidden;
  }
  #topNav_wapper .logo small {
    margin-left: 0.3rem;
  }
  #topNav_wapper .logo::before {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    float: left;
    content: "";
    display: block;
    background: url('../img/zeiss-logo.svg') no-repeat;
  }
  #topNav_wapper .sideavatar {
    position: fixed;
    top: 0.5rem;
    right: 6rem;
    z-index: 1032;
  }
  #topNav_wapper .sideavatar .greet,
  #topNav_wapper .sideavatar .logout {
    float: left;
    padding-left: 1rem;
  }
  #topNav_wapper .topNav {
    width: 100%;
    border-width: 0;
    padding-top: 5rem;
    overflow: hidden;
  }
  #topNav_wapper .topNav li,
  #topNav_wapper .topNav ul {
    width: 100%;
  }
  #topNav_wapper .topNav.nav_collapse {
    -webkit-animation: close-sideBar 0.1s forwards;
    -moz-animation: close-sideBar 0.1s forwards;
    -o-animation: close-sideBar 0.1s forwards;
    animation: close-sideBar 0.1s forwards;
  }
  #topNav_wapper .topNav.collased {
    -webkit-animation: close-sideBar 0.1s forwards;
    -moz-animation: close-sideBar 0.1s forwards;
    -o-animation: close-sideBar 0.1s forwards;
    animation: close-sideBar 0.1s forwards;
  }
  #topNav_wapper .sideBtn {
    top: 0;
    font-size: 2rem;
    right: 0;
    height: 5rem;
    width: 5rem;
    z-index: 1032;
  }
  #topNav_wapper .sideBtnIcon-open::before {
    content: '\e011';
  }
  #topNav_wapper .sideBtnIcon-close::before {
    content: '\e236';
  }
  @-webkit-keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @-moz-keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @-o-keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @-webkit-keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
  @-moz-keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
  @-o-keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
  @keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
}
@media (max-width: 768px) and (max-width: 400px) {
  #topNav_wapper .greet,
  #topNav_wapper .logout {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 320px) and (max-width: 400px) {
  #topNav_wapper .sideavatar {
    display: none;
  }
}
