* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
#sideNav_wapper {
  float: left;
  width: 100%;
}
#sideNav_wapper .sideNav {
  float: left;
  background-color: #40679C;
}
#sideNav_wapper .sideNav li,
#sideNav_wapper .sideNav ul {
  list-style: none;
  float: left;
}
#sideNav_wapper .sidebar-nav .section {
  float: left;
}
#sideNav_wapper .sidebar-nav .section a:active,
#sideNav_wapper .sidebar-nav .section a:hover,
#sideNav_wapper .sidebar-nav .section a:link,
#sideNav_wapper .sidebar-nav .section a:visited {
  color: #FFF;
}
#sideNav_wapper .sidebar-nav .section a:hover,
#sideNav_wapper .sidebar-nav .section a:visited {
  background-color: #31578B;
}
#sideNav_wapper .sidebar-nav .section .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
#sideNav_wapper .sidebar-nav .section .open a {
  color: #000;
}
#sideNav_wapper .sidebar-nav .section .glyphicon {
  padding-right: 1rem;
}
#sideNav_wapper .sidebar-nav .section.subsection a {
  padding: 1rem;
}
#sideNav_wapper .sidebar-nav .section.subsection a:active,
#sideNav_wapper .sidebar-nav .section.subsection a:hover,
#sideNav_wapper .sidebar-nav .section.subsection a:link,
#sideNav_wapper .sidebar-nav .section.subsection a:visited {
  color: #000;
}
#sideNav_wapper .sidebar-nav .caret {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}
#sideNav_wapper .sideBtn {
  position: fixed;
  display: block;
  background-color: #123;
}
#sideNav_wapper .sideBtn .glyphicon {
  color: #fff;
  display: block;
  top: 35%;
}
@media (min-width: 768px) {
  #sideNav_wapper .logo {
    display: none;
  }
  #sideNav_wapper .sideavatar {
    display: none;
  }
  #sideNav_wapper .sideNav {
    display: block;
    padding-top: 2rem;
    width: 100%;
  }
  #sideNav_wapper .sideNav.nav_collapse {
    -webkit-animation: close-sideBar 0.5s forwards;
    -moz-animation: close-sideBar 0.5s forwards;
    -o-animation: close-sideBar 0.5s forwards;
    animation: close-sideBar 0.5s forwards;
  }
  #sideNav_wapper .sideNav.nav_open {
    -webkit-animation: open-sideBar 0.5s forwards;
    -moz-animation: open-sideBar 0.5s forwards;
    -o-animation: open-sideBar 0.5s forwards;
    animation: open-sideBar 0.5s forwards;
  }
  @-webkit-keyframes close-sideBar {
    from {
      left: 0;
    }
    to {
      left: -20rem;
    }
  }
  @-moz-keyframes close-sideBar {
    from {
      left: 0;
    }
    to {
      left: -20rem;
    }
  }
  @-o-keyframes close-sideBar {
    from {
      left: 0;
    }
    to {
      left: -20rem;
    }
  }
  @keyframes close-sideBar {
    from {
      left: 0;
    }
    to {
      left: -20rem;
    }
  }
  @-webkit-keyframes open-sideBar {
    from {
      left: -20rem;
    }
    to {
      left: 0;
    }
  }
  @-moz-keyframes open-sideBar {
    from {
      left: -20rem;
    }
    to {
      left: 0;
    }
  }
  @-o-keyframes open-sideBar {
    from {
      left: -20rem;
    }
    to {
      left: 0;
    }
  }
  @keyframes open-sideBar {
    from {
      left: -20rem;
    }
    to {
      left: 0;
    }
  }
  @-webkit-keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @-moz-keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @-o-keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @-webkit-keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  @-moz-keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  @-o-keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  @keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  .sideBtn {
    top: 30rem;
    font-size: 1.6rem;
    left: 20rem;
    -webkit-border-radius: 0 0.6rem 0.6rem 0;
    -moz-border-radius: 0 0.6rem 0.6rem 0;
    border-radius: 0 0.6rem 0.6rem 0;
    height: 5rem;
    z-index: 1032;
  }
  .sideBtn .sideBtnIcon-open::before {
    content: '\e251';
  }
  .sideBtn .sideBtnIcon-close::before {
    content: '\e250';
  }
  .sideBtn.nav_collapse {
    -webkit-animation: close-sideBtn 0.5s forwards;
    -moz-animation: close-sideBtn 0.5s forwards;
    -o-animation: close-sideBtn 0.5s forwards;
    animation: close-sideBtn 0.5s forwards;
  }
  .sideBtn.nav_open {
    -webkit-animation: open-sideBtn 0.5s forwards;
    -moz-animation: open-sideBtn 0.5s forwards;
    -o-animation: open-sideBtn 0.5s forwards;
    animation: open-sideBtn 0.5s forwards;
  }
}
@media (max-width: 768px) {
  #sideNav_wapper .logo {
    position: fixed;
    display: block;
    z-index: 1031;
    width: 100%;
    min-width: 24rem;
    top: 1rem;
    color: #FFF;
    font-size: 2rem;
    overflow: hidden;
  }
  #sideNav_wapper .logo::before {
    width: 14rem;
    margin-left: 1rem;
    float: left;
    height: 2.2rem;
    content: "";
    display: block;
    background: url('../img/logo-white.png') no-repeat;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
  }
  #sideNav_wapper .sideavatar {
    color: #fff;
    position: fixed;
    top: 0.5rem;
    right: 6rem;
    z-index: 1032;
  }
  #sideNav_wapper .sideavatar .avatar {
    position: relative;
    text-align: center;
    float: left;
    height: 4rem;
    width: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    border-radius: 4rem;
    overflow: hidden;
  }
  #sideNav_wapper .sideavatar .avatar img {
    position: absolute;
    left: -50%;
    right: -50%;
    height: 100%;
    vertical-align: middle;
    margin: 0 auto;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -moz-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
  }
  #sideNav_wapper .sideavatar .greet,
  #sideNav_wapper .sideavatar .logout {
    float: left;
    padding-left: 1rem;
  }
  #sideNav_wapper .sideavatar .logout a {
    color: #FFF;
  }
  #sideNav_wapper .sideNav {
    display: inline-block;
    padding-top: 5rem;
    overflow: hidden;
    -webkit-animation: open-sideBar 0.1s forwards;
    -moz-animation: open-sideBar 0.1s forwards;
    -o-animation: open-sideBar 0.1s forwards;
    animation: open-sideBar 0.1s forwards;
  }
  #sideNav_wapper .sideNav li,
  #sideNav_wapper .sideNav ul {
    width: 100%;
  }
  #sideNav_wapper .sideNav.nav_collapse {
    -webkit-animation: close-sideBar 0.1s forwards;
    -moz-animation: close-sideBar 0.1s forwards;
    -o-animation: close-sideBar 0.1s forwards;
    animation: close-sideBar 0.1s forwards;
  }
  #sideNav_wapper .sideNav.collased {
    -webkit-animation: close-sideBar 0.1s forwards;
    -moz-animation: close-sideBar 0.1s forwards;
    -o-animation: close-sideBar 0.1s forwards;
    animation: close-sideBar 0.1s forwards;
  }
  @-webkit-keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @-moz-keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @-o-keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @keyframes close-sideBar {
    from {
      height: auto;
    }
    to {
      height: 5rem;
    }
  }
  @-webkit-keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
  @-moz-keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
  @-o-keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
  @keyframes open-sideBar {
    from {
      height: 5rem;
    }
    to {
      height: auto;
    }
  }
  @-webkit-keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @-moz-keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @-o-keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @keyframes close-sideBtn {
    from {
      left: 20rem;
    }
    to {
      left: 0;
    }
  }
  @-webkit-keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  @-moz-keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  @-o-keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  @keyframes open-sideBtn {
    from {
      left: 0;
    }
    to {
      left: 20rem;
    }
  }
  .sideBtn {
    display: none;
    top: 0;
    font-size: 2rem;
    right: 0;
    height: 5rem;
    width: 5rem;
    z-index: 1032;
  }
  .sideBtnIcon-open::before {
    content: '\e011';
  }
  .sideBtnIcon-close::before {
    content: '\e236';
  }
}
@media (max-width: 768px) and (min-width: 400px) and (max-width: 500px) {
  #sideNav_wapper .greet,
  #sideNav_wapper .logout {
    display: none;
  }
}
@media (max-width: 768px) and (min-width: 320px) and (max-width: 400px) {
  #sideNav_wapper .sideavatar {
    display: none;
  }
}
@media (max-width: 768px) and (max-width: 320px) {
  #sideNav_wapper .logo small,
  #sideNav_wapper .sideavatar {
    display: none;
  }
}
