<table class="table table-bordered table-hover">
  <tr class="info_card_row hide">
    <td colspan="1">
      <div class="card col-xs-12 row">
        <div class="card_head row">
          header
        </div>
        <div class="card_body">
          <div class="row card_data_row">
            <div class="col-xs-4 card_data_title">
              PropName:
            </div>
            <div class="col-xs-8 card_data">
            </div>
          </div>
        </div>
        <div class="card_foot row">
          <div class="date">
            data:yyyy-mm-dd
          </div>
        </div>
      </div>
    </td>
  </tr>
</table>
