
  <div class="search_wapper ">
    <form class="form" role="form">
      <div class="querycontrols clearfix">
        <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4">
          <div class="search_box_warp col-md-8 col-xs-8 ">
              <input type="text" name="" id="search_box" value="" class="search_box form-control col-md-11" placeholder="在这里输入关键字" autocomplete="off" >
<ul class="dropdown-menu keyhint"></ul>

          </div>
          <button type="submit" class="btn btn-success col-md-4  col-xs-4 ">Query</button>
        </div>
      </div>
    </form>
  </div>
