<div class="modal fade lg-modal" id="Detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">订单详情</h4>
      </div>

      <div class="modal-body">
        <div class="modal-infopart orderStatus">
          <div class="steps clearfix">
            <%-include('/components/progressbar/progressbar')%>
          </div>
        </div>
        <div class="modal-infopart baseInfomation">
          <ul>
            <li>代理商：dealer</li>
            <li>区   域：华南地区</li>
            <li>手机号：13883762902</li>
            <li>邮   箱：admin@elitsrouce.net</li>
            <li>用   途：一般销售用途</li>
          </ul>
          <div class="comment">
            <span>备注：</span>
            <textarea name="comment" rows="4" disabled>备注</textarea>
          </div>
        </div>
        <div class="modal-infopart goodsInfomation">
        </div>
      </div>
      <div class="modal-footer">
        <div class="modal-infopart Approval">
          <button type="submit" class="btn btn-primary col-md-5" onclick="approve()">审核通过</button><button type="submit" class="btn btn-danger col-md-5" onclick="reject()">拒绝通过</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%include('/components/modal/modal',{type:"Common.Approve"})%>
  <%include('/components/modal/modal',{type:"Common.Reject"})%>
    <script>
      var approve = function() {
        $("#Approve").modal()
      }
      var reject = function() {
        $("#Reject").modal()
      }
    </script>
