<div class="modal fade lg-modal" id="Detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">订单详情</h4>
      </div>

      <div class="modal-body">
        <div class="modal-infopart orderStatus">
          <div class="steps clearfix" id="steps">
            <ul id="progressbar" class="progressbar clearfix">
              <ul>
          </div>
        </div>
        <div class="modal-infopart baseInfomation">
          <%-include('/components/modal/modal',{type:"Common.detailInfoCollections"})%>

        </div>
        <div class="modal-infopart goodsInfomation">
          <div id="InfomationArea">
          </div>
        </div>
        <div class="modal-infopart Approval">
          <textarea name="approvalComments" id="PRD_approvalComments" rows="4" cols="80" placeholder="审核意见"></textarea>
        </div>
      </div>
      <div class="modal-footer" id="PRD_operation">
      </div>
    </div>
  </div>
</div>
