<div class="contentTitle">
<h3>主页</h3>
</div>
  <%-include('/components/searchWapper/searchWapper')%>
  <div class="steps clearfix">
    <%-include('/components/progressbar/progressbar')%>
  </div>
<%-include('/components/contentTabs/tabSwitcher',{tabs:{finished:"已完成",unfinished:"未完成"}})%>
  <div class="operation-menu">
    <button class="button button-middle button-plain button-border button-box" data-toggle="modal" data-target="#addRecord"><i class="fa fa-plus"></i></button>
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="finished">
    </div>
    <div class="tab-pane" id="unfinished">
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
<%-include('/components/modal/modal',{type:"recordAdd"})%>
