<script>
  window.currentPos = "myOrderDealer"
</script>

<div class="contentTitle">
  <h3>我的订单</h3>
</div>

  <%-include('/components/contentTabs/tabSwitcher',{tabs:{draft:"草稿箱",applying:"申请中",finished:"已完成",reject:"已拒绝"}})%>
    <div class="operation-menu">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#purchaseRequisition">申领物品</button>
    </div>
    <div class="table-content tab-content">
      <div class="tab-pane active" id="applying">
      </div>
      <div class="tab-pane" id="finished">
      </div>
      <div class="tab-pane" id="reject">
      </div>
      <div class="tab-pane" id="draft">
      </div>
      <nav style="text-align: center">
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </nav>
    </div>
    <%-include('/components/modal/modal',{type:"purchaseRequisition"})%>
      <%-include('/components/modal/modal',{type:"orderDetail"})%>

        <script>
          var CurrentTableList = {
            "#applying": "./test/dealer/myorder-approving-table-data.json",
            "#finished": "./test/dealer/myorder-success-table-data.json",
            "#reject": "./test/dealer/myorder-rejected-table-data.json"
          }
          var table_init = function() {
            for (var i in CurrentTableList) {
              var $tablecontainer = $(i)
              var t = new table(CurrentTableList[i])
              t.load().to($tablecontainer)
              t.bindModal()
            }
          }

          var copy = function(){

          }
        </script>
