<div class="contentTitle">
  <h3>供应商</h3>
</div>
<%-include('/components/searchWapper/searchWapper')%>

  <div class="operation-menu">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSupplier">添加供应商</button>
  </div>

  <div class="table-content tab-content">
    <div class="tab-pane active" id="Supplier-table-container">
      <table class="table table-bordered table-hover">
      </table>
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>

  <%-include('/components/modal/modal',{type:"SupplierAdd"})%>
    <%-include('/components/table/table.init.ejs',{container:"#Supplier-table-container",url:"./test/Supplier-table-data.json",hasButton:false})%>
