@import "../../config/StyleConfig.less";//配置颜色
.page-header {
  .header_userInfo {
    .avatar {
      float: left;
    }

    .information {
      margin-left:30%;
      .account,
      .profile {
        display: inline-block;
        float: left;
      }
    }
  }
}
