html {
  font-size: 10px;

  body {
    height: 100%;
    overflow: hidden;
  }
}

#login-wapper {
  position: relative;
  width: 100%;

  .bg {
    background: #779AEB;
    background: linear-gradient(to bottom,#779AEB,#0F57A8);
    @media(min-width:768px) {
      height: 28rem;
    }
    @media (max-width:768px) {
      height: 20rem;
    }

    .greet {
      color: #fff;
      width: 100%;
      text-align: center;

      // padding-top: 8rem;
      animation: popOut 0.5s forwards;
      @media(min-width:768px) {
        font-size: 7rem;
        line-height: 5rem;
        padding-top: 9rem;
        @keyframes popOut {
          0% {
            padding-top: 15rem;
          }

          70% {
            padding-top: 5rem;
          }

          80% {
            padding-top: 6rem;
          }

          100% {
            padding-top: 5rem;
          }
        }
      }
      @media (max-width:768px) {
        font-size: 4rem;
        line-height: 3rem;
        padding-top: 4rem;
        @keyframes popOut {
          0% {
            padding-top: 10rem;
          }

          70% {
            padding-top: 3rem;
          }

          80% {
            padding-top: 4rem;
          }

          100% {
            padding-top: 3rem;
          }
        }
      }
    }
  }

  .login-box {
    position: relative;
    top: -8rem;
    background-color: #fff; // top:0;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 5rem #7e7e7e;
    @media(min-width:768px) {
      max-width: 35rem;
    }
    @media (max-width:768px) {
    }
  }

  .col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .loginInputGroup {
    overflow: hidden;
    padding: 3rem 0rem;
    width: 80%;

    .input-group {
      padding-bottom: 2rem;
    }

  }
}
