@import "browserConfig.less"; //处理scroll
@import "../../config/StyleConfig.less"; //配置颜色

@media (min-width: 768px) {
  #header_wapper {
    .header_logo {
      .logo:before {
        display: inline-block;
        width: 20rem;
        height: 3.6rem;
        content: '';
        background: url('../img/icons-blue-1.0.5.svg') no-repeat 0 -2450px;
      }
    }
  }

  #right_wapper {
    // float: left;
    margin-left: 20rem;
  }

  #right_wapper.extend {
    animation: extend @home-sideNav-timer forwards;
  }

  #right_wapper.shrunk {
    animation: shrunk @home-sideNav-timer forwards;
  }

  #sideNav_wapper {}

  #content_wapper {
    // overflow: scroll;
    // word-wrap:break-word;
    background-color: @home-content-background-color;
    padding: 2rem;
    height: 100%;
    //TO-DO
    // div {
    //   background-color: @home-content-background-color;
    // }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  @keyframes extend {
    from {
      margin-left: @home-sideNav-width;
    }

    to {
      margin-left: 0;
    }
  }
  @keyframes shrunk {
    from {
      margin-left: 0;
    }

    to {
      margin-left: @home-sideNav-width;
    }
  }
}
@media (max-width: 768px) {
  #header_wapper {
    display: none;
  }

  #right_wapper {
    // float: left;
    margin-top: @mobile-home-topNav-height;
  }

  #right_wapper.extend {
    animation: extend @home-sideNav-timer forwards;
  }

  #right_wapper.shrunk {
    animation: shrunk @home-sideNav-timer forwards;
  }

  #content_wapper {
    // overflow: scroll;
    // word-wrap:break-word;
    background-color: @home-content-background-color;
  }
}
