@import "../../config/StyleConfig.less"; //配置颜色
@import "../less/sidenav_mobile.less";
@import "../less/sidenav_common.less";
@media (min-width: 768px) {
  #sideNav_wapper {
    // height: 100%;
    .logo {
      display: none;
    }

    .sideavatar {
      display: none;
    }

    .sideNav {
      display: block;
      padding-top: 2rem;
      width: @home-sideNav-width;
      height: 100%;
    }

    .sideNav.nav_collapse {
      -webkit-animation: close-sideBar @home-sideNav-timer forwards;
    }

    .sideNav.nav_open {
      -webkit-animation: open-sideBar @home-sideNav-timer forwards;
    }
    @keyframes close-sideBar {
      from {
        left: 0;
      }

      to {
        left: 0 - @home-sideNav-width;
      }
    }
    @keyframes open-sideBar {
      from {
        left: 0 - @home-sideNav-width;
      }

      to {
        left: 0;
      }
    }
    @keyframes close-sideBtn {
      from {
        left: @home-sideNav-width;
      }

      to {
        left: 0;
      }
    }
    @keyframes open-sideBtn {
      from {
        left: 0;
      }

      to {
        left: @home-sideNav-width;
      }
    }
  }

  .sideBtn {
    top: 30rem;
    font-size: 1.6rem;
    left: @home-sideNav-width;
    border-radius: 0 0.6rem 0.6rem 0;
    height: 5rem;
    z-index: 1030;
  }

  .sideBtn.nav_collapse {
    -webkit-animation: close-sideBtn @home-sideNav-timer forwards;
  }

  .sideBtn.nav_open {
    -webkit-animation: open-sideBtn @home-sideNav-timer forwards;
  }
}
