@import "../../config/StyleConfig.less"; //配置颜色
@media (max-width: 768px) {
  #sideNav_wapper {
    float: left;

    .logo {
      position: fixed;
      display: block;
      z-index: 1031;
      width: 100%;
      top: 1rem;
      color: #FFF;
      font-size: 2rem;
    }
    /**
  TO-DO：需要统一根字体大小
  **/
    .logo::before {
      width: 14rem;
      // margin: 0 auto;
      margin-left: 1rem;
      float: left;
      height: 2.2rem;
      content: "";
      display: block;
      background: url('../img/logo-white.png') no-repeat;
      background-size: auto 100%;
    }

    .sideNav {
      display: inline-block;
      float: left;
      background-color: @home-sideNav-bg-color;
      padding-top: @mobile-home-topNav-height;
      overflow: hidden;
      -webkit-animation: open-sideBar 0.1s forwards;

      li,
      ul {
        width: 100%;
        list-style: none;
        float: left;
      }
    }

    .sideNav.nav_collapse {
      -webkit-animation: close-sideBar 0.1s forwards;
    }

    .sideNav.collased {
      -webkit-animation: close-sideBar 0.1s forwards;
    }
  }
  @keyframes close-sideBar {
    from {
      height: auto;
    }

    to {
      height: @mobile-home-topNav-height;
    }
  }
  @keyframes open-sideBar {
    from {
      height: @mobile-home-topNav-height;
    }

    to {
      height: auto;
    }
  }
  @keyframes close-sideBtn {
    from {
      left: @home-sideNav-width;
    }

    to {
      left: 0;
    }
  }
  @keyframes open-sideBtn {
    from {
      left: 0;
    }

    to {
      left: @home-sideNav-width;
    }
  }

  .sidebar-nav {
    .section {
      float: left;
      width: 100%;

      a:active,
      a:hover,
      a:link,
      a:visited {
        color: @home-sideNav-section-color;
      }

      a:hover,
      a:visited {
        background-color: @home-sideNav-section-hover-color;
      }

      .dropdown-menu {
        border-radius: 0;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
      }

      .open a {
        color: #000;
      }

      .glyphicon {
        padding-right: 1rem;
      }
    }

    .section.subsection {
      a {
        padding: 1rem;
      }

      a:active,
      a:hover,
      a:link,
      a:visited {
        color: @home-sideNav-subsection-color;
      }
    }
  }

  .sideBtn {
    position: fixed;
    top: 0;
    display: block;
    background-color: @home-sideNav-btn-bg-color;
    font-size: 2rem;
    height: @mobile-home-topNav-height;
    width: @mobile-home-topNav-height;
    z-index: 1032;
    right: 0;

    .glyphicon {
      color: @home-sideNav-btn-color;
      display: block;
      top: 35%;
    }
  }

  .glyphicon-triangle-left::before {
    content: '\e011' !important;
  }

  .glyphicon-triangle-right::before {
    content: '\e236' !important;
  }

  .sideBtn.nav_collapse {}

  .sidebar-nav .caret {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
  }
}
