<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加供应商</h4>
      </div>

      <div class="modal-body">
        <form id="add_Supplier" class="form-horizontal" role="form">
          <%-include('/components/input/forminput',{name:"姓名",id:"_suppliername",type:"text",placeholder:"请输入姓名",required:true})%>
            <%-include('/components/input/forminput',{name:"手机号",id:"_phonenumber",type:"text",placeholder:"请输入手机号",required:true})%>
              <%-include('/components/input/forminput',{name:"账号",id:"_accountname",type:"text",placeholder:"请输入账号",required:true})%>
                <%-include('/components/input/forminput',{name:"密码",id:"_password",type:"password",placeholder:"请输入密码",required:true})%>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary center-block col-xs-12" onclick="addSupplier()">完成</button>
      </div>
    </div>
  </div>
</div>
<script>
function addSupplier() {
  var data = formToSet("#add_Supplier")
  var dealerId = apiConfig.supplier.Add(data)
  if(dealerId){
    $("#Add").modal("hide")
    ClearInputs("#add_Supplier")
    ClearSelecton("#add_Supplier")
    ClearTextArea("#add_Supplier")
  }
  table_init()
}
</script>
