* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
.page-header {
  margin: 0;
  border-bottom: 0;
  padding: 10px;
}
@media (max-width: 768px) {
  .page-header {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .page-header {
    display: block;
  }
}
@media (min-width: 400px) and (max-width: 768px) {
  .page-header {
    display: none;
  }
}
.page-header .header_logo {
  position: relative;
}
@media (min-width: 768px) {
  .page-header .header_logo .logo:before {
    float: left;
    display: block;
    width: 5rem;
    height: 5rem;
    content: '';
    background: url('../img/zeiss-logo.svg') no-repeat;
  }
}
.page-header .header_logo .system_name {
  vertical-align: bottom;
}
@media (max-width: 768px) {
  .page-header .header_logo {
    display: none;
  }
}
.page-header .header_userInfo .avatar {
  float: left;
}
.page-header .header_userInfo .information {
  margin-left: 30%;
}
.page-header .header_userInfo .information .account,
.page-header .header_userInfo .information .profile {
  display: inline-block;
  float: left;
}
.page-header.row {
  margin-left: 0;
  margin-right: 0;
}
