

<div class="contentTitle">
<h3>订单管理</h3>
</div>

  <div class="search_wapper ">
    <form class="form" role="form">
      <div class="querycontrols clearfix">
        <div class="form-group col-md-3 col-sm-6 col-xs-12">
          <input type="text" name="" value="" class="form-control col-md-10" placeholder="输入筛选条件" />
        </div>
        <div class="form-group col-md-3 col-sm-6  col-xs-12">
          <!-- <label for="name">选择列表</label> -->
          <select class="form-control col-md-10">
              <option>option1</option>
              <option>option2</option>
              <option>option3</option>
              <option>option4</option>
              <option>option5</option>
          </select>
          <!-- <input type="text" name="" value="" class="form-control col-md-10" placeholder="输入筛选条件" /> -->
        </div>
        <div class="form-group col-md-3 col-sm-6 col-xs-12">
          <input type="text" name="" value="" class="form-control" placeholder="输入筛选条件" />
        </div>
        <div class="form-group col-md-3 col-sm-6 col-xs-12">
          <input class="form-control" id="disabledInput" type="text" placeholder="该输入框禁止输入..." disabled>
        </div>
        <div class="form-group">
          <div class="search_box_warp col-md-10 col-xs-10">
              <input type="text" name="" id="search_box" value="" class="search_box form-control col-md-11" placeholder="在这里输入关键字">
<ul class="dropdown-menu keyhint"></ul>

          </div>
          <button type="submit" class="btn btn-success col-md-2  col-xs-2 ">Query</button>
        </div>
      </div>
    </form>
  </div>
