table {
  word-wrap: break-word;
}
table td {
  vertical-align: middle !important;
}
table td .btn {
  margin: 0.4rem;
  float: left;
  font-size: 10px;
  margin-right: 1rem;
  min-width: 6rem;
}
table td.operation {
  max-width: 15rem;
}
