@import "../../../../config/StyleConfig.less"; //配置颜色

.search_wapper {
  margin: 2rem 0;
  background: linear-gradient(to top,#E7EEF5 0%,#F5F9FD 60%);
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;

  .querycontrols {
    color: #fff;

    .form-group {
      margin-bottom: auto;
    }
  }
}
