<%#
  ComponentsName:searchWapper
  Description:
  Author:
  Required:
    :
  Options:
%>
<%-include("/components/title/title",{title:"供应商"})%>
<div class="search_wapper ">
  <form class="form-inline" role="form">
    <div class="querycontrols clearfix">
      <div class="col-sm-12 col-md-5">
        <div class="form-group">
          <label class="form-label" for="name">姓名：</label>
          <input type="text" name="name" id="name" value="" class="form-control" placeholder="手机号" />
        </div>
        <div class="form-group">
          <label class="form-label" for="mobile">手机号：</label>
          <input type="text" name="mobile" id="mobile" value="" class="form-control" placeholder="手机号" />
        </div>
      </div>
      <div class="col-sm-12 col-md-5">
        <label class="control-label" for="">创建日期：</label>
        <div class="form-group">
          <input size="14" type="text" value="2012-06-15" class="form_datetime form-control">
        </div>
        <span>~</span>
        <div class="form-group">
          <input size="14" type="text" value="2012-06-15" class="form_datetime form-control">
        </div>

      </div>
      <div class="col-sm-12 col-md-2">
        <button type="button" name="button" class="btn btn-default">查询</button>
        <button type="button" name="button" class="btn btn-default">重置</button>
      </div>
    </div>
  </form>
</div>
