<div class="contentTitle clearfix">
  <h3>物品出入库</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">Query</button>
  </div>
</div>

<div class="operation-menu">
  <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddBrochure">添加物品</button>%>
</div>

<div class="table-content tab-content">
  <div class="tab-pane active" id="Inventory-table-container">
    <table class="table table-bordered table-hover">
    </table>
  </div>
  <nav style="text-align: center">
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </nav>
</div>
<%-include('/components/modal/modal',{type:"Supplier.Inventory.History"})%>
<%-include('/components/modal/modal',{type:"Common.Supply"})%>
<%-include('/components/table/table.init.ejs')%>
<script>
  var CurrentTableList = {
    "#Inventory-table-container": "./test/supplier/Brochure/Inventory.json"
  }

  function Detail(primarykey) {
    $("#Detail").modal()
    var t = new table("./test/supplier/Brochure/History.json")
    t.load().to("#Detail .goodsInfomation")
    console.log("Primary Key", primarykey);
  }

  //补充物品数量操作
  var supply = function(rid) {
    // console.log(rid);
    window._target = apiConfig.brochure.Get(rid)

    $("#Supply")
      .modal()
  }

</script>
