<div class="contentTitle clearfix">
  <h3>物品出入库</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control searchBox" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">查询</button>
  </div>
</div>

<div class="operation-menu">
  <%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AddBrochure">添加物品</button>%>
</div>

<div class="table-content tab-content">
  <div class="tab-pane active" id="Brochure-table-container">
    <table class="table table-bordered table-hover">
    </table>
  </div>
</div>
<%-include('/components/modal/modal',{type:"Admin.Inventory.History"})%>
  <%-include('/components/modal/modal',{type:"Admin.BrochureAdmin.Add"})%>
    <%-include('/components/modal/modal',{type:"Common.Supply"})%>
      <script>
        //载入物品操作
        var table_init = function() {
          generateTableWithPageHelper({
            target: "#Brochure-table-container",
            templateOpts: tableStructures.Supplier.Brochure,
            counter: apiConfig.brochure.Count(),
            datasourceAPI: apiConfig.brochure.Paging,
            options: {}
          })
        }
        var History = function(bid) {
          BrochureHistory.show(bid)
        }

        //删除物品记录操作
        var del = function(rid) {
          window._target = apiConfig.brochure.Get(rid)
          $("#Delete")
            .modal()
        }
        var deleteSubmit = function() {
          if (window._target) {
            var id = window._target["_id"]
            apiConfig.brochure.Delete(id)
            $("#Delete").modal("hide")
          }
          table_init()
        }
        //补充物品数量操作
        var supply = function(rid) {
          window._target = apiConfig.brochure.Get(rid)
          $("#Supply")
            .modal()
        }

        //编辑操作
        var edit = function(rid) {
          window._target = apiConfig.brochure.Get(rid)
          autoComplateInfo(window._target, "#edit_Brochure")
          $("#Edit")
            .modal()
        }
        var search = function() {
          var keyword = filterXSS($("input#search_box").val().trim())
          if ("" == keyword) {
            table_init()
            return
          }
          generateTableWithPageHelper({
            target: "#Brochure-table-container",
            templateOpts: tableStructures.Supplier.Brochure,
            counter: apiConfig.brochure.Search({keyword: keyword}).length,
            datasourceAPI: apiConfig.brochure.Paging,
            options: {
              keyword: keyword
            }
          })
        }
      </script>
