<div class="contentTitle clearfix">
  <h3>我的订单</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control searchBox" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3 searchBtn">查询</button>
  </div>
</div>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{applying:"处理中",success:"已完成"}})%>
  <div class="operation-menu">
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="applying">
    </div>
    <div class="tab-pane" id="success">
    </div>
  </div>
  <%-include('/components/modal/modal',{type:"Supplier.Express.Detail"})%>
    <%-include('/components/table/table.init.ejs')%>
      <script>
        //载入我的订单的申请表操作
        var table_init = function() {
          // window.__PurchaseRequisitionItem_Unsave_set = {}

          generateTableWithPageHelper({
            target: "#applying",
            templateOpts: tableStructures.Supplier.MyOrder.Approving,
            counter: apiConfig.PRSupplierView.Count(false),
            datasourceAPI: apiConfig.PRSupplierView.Paging,
            options: {
              isCompeleted:false
            }
          })
          generateTableWithPageHelper({
            target: "#success",
            templateOpts: tableStructures.Supplier.MyOrder.Success,
            counter: apiConfig.PRSupplierView.Count(true),
            datasourceAPI: apiConfig.PRSupplierView.Paging,
            options: {
              isCompeleted:true
            }
          })

        }

        var supply = function(rid) {
          // console.log(rid);
          window._target = apiConfig.brochure.Get(rid)
          $("#Supply")
            .modal()
        }

        var search = function() {
          var keyword = filterXSS($("input#search_box").val().trim())
          if ("" == keyword) {
            table_init()
            return
          }
          generateTableWithPageHelper({
            target: "#applying",
            templateOpts: tableStructures.Supplier.MyOrder.Approving,
            counter: apiConfig.PRSupplierView.Count(),
            datasourceAPI: apiConfig.PRSupplierView.Search,
            options: {
              keyword:keyword,
              isCompeleted:false
            }
          })
          generateTableWithPageHelper({
            target: "#success",
            templateOpts: tableStructures.Supplier.MyOrder.Approving,
            counter: apiConfig.PRSupplierView.Count(),
            datasourceAPI: apiConfig.PRSupplierView.Search,
            options: {
              keyword:keyword,
              isCompeleted:true
            }
          })
        }
      </script>
