<script>
  window.currentPos = "myOrder"
</script>

<div class="contentTitle">
  <h3>我的订单</h3>
</div>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{applying:"处理中",finished:"已完成"}})%>
  <div class="operation-menu">
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane active" id="applying">
    </div>
    <div class="tab-pane" id="finished">
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
    <%-include('/components/modal/modal',{type:"Supplier.Express.Update"})%>
      <%-include('/components/table/table.init.ejs',{container:"#applying",url:"./test/supplier/order-table-data.json"})%>
        <script>
          var CurrentTableList = {
            "#applying": "./test/supplier/approving-table-data.json",
            "#finished": "./test/supplier/success-table-data.json",
          }
          var table_init = function() {
            for (var i in CurrentTableList) {
              var $tablecontainer = $(i)
              var t = new table(CurrentTableList[i])
              t.load().to($tablecontainer)
            }
          }

          var expressUpdate=function(){
            $("#ExpressrUpdate").modal()
          }
        </script>
