#progressbar li,#topNav_wapper li,#topNav_wapper ul{float:left;list-style:none}
.nav.nav-tabs{border-bottom:none;margin-bottom:1px}
.page-header{margin:0;border-bottom:0;padding:10px}
@media (max-width:400px){.page-header{display:block}
}
@media (min-width:400px) and (max-width:768px){.page-header{display:none}
}
.page-header .header_logo{position:relative}
@media (min-width:768px){.page-header .header_logo .logo:before{float:left;display:block;width:5rem;height:5rem;content:'';background:url(../img/zeiss-logo.svg) no-repeat}
}
.page-header .header_logo .system_name{vertical-align:bottom}
@media (max-width:768px){.page-header{margin:0}
.page-header .header_logo{display:none}
}
.page-header .header_userInfo .avatar{float:left}
.page-header .header_userInfo .information{margin-left:30%}
.page-header .header_userInfo .information .account,.page-header .header_userInfo .information .profile{display:inline-block;float:left}
.page-header.row{margin-left:0;margin-right:0}
.input-info::before{content:''}
.input-info.success::before{content:'\e084'}
.input-info.fail::before{content:'\e083'}
.modal-infopart{clear:both}
.modal-infopart.baseInfomation ul{width:100%;display:block;padding:1rem;float:left}
.modal-infopart.baseInfomation ul li{list-style:none;display:block;width:50%;float:left}
.modal-infopart.baseInfomation textarea{border:0;background-color:transparent;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;resize:none;color:#666464}
.modal-infopart::before{text-align:left;content:'';display:block;width:100%;min-height:4rem;background-color:#e4e6eb;font-size:2rem;font-weight:700;color:#000;padding:.5rem 1rem;margin-bottom:1rem}
.orderStatus::before{content:'订单状态'!important}
.baseInfomation::before{content:'基础信息'!important}
.goodsInfomation::before{content:'物品信息'!important}
.Approval::before{content:'审批'!important}
#topNav_wapper{color:#337ab7;float:left;width:100%;background:-webkit-gradient(linear,left bottom,left top,from(#E7EEF5),color-stop(60%,#F5F9FD));background:-webkit-linear-gradient(bottom,#E7EEF5 0,#F5F9FD 60%);background:-moz-linear-gradient(bottom,#E7EEF5 0,#F5F9FD 60%);background:-o-linear-gradient(bottom,#E7EEF5 0,#F5F9FD 60%);background:linear-gradient(to top,#E7EEF5 0,#F5F9FD 60%)}
@media (max-width:768px){#topNav_wapper{background:-webkit-gradient(linear,left bottom,left top,from(#C2CFDD),color-stop(60%,#F5F9FD));background:-webkit-linear-gradient(bottom,#C2CFDD 0,#F5F9FD 60%);background:-moz-linear-gradient(bottom,#C2CFDD 0,#F5F9FD 60%);background:-o-linear-gradient(bottom,#C2CFDD 0,#F5F9FD 60%);background:linear-gradient(to top,#C2CFDD 0,#F5F9FD 60%)}
#topNav_wapper .sidebar-nav{border-top:1px solid #cddbeb;background:-webkit-gradient(linear,left bottom,left top,from(#C2CFDD),color-stop(30%,#F5F9FD));background:-webkit-linear-gradient(bottom,#C2CFDD 0,#F5F9FD 30%);background:-moz-linear-gradient(bottom,#C2CFDD 0,#F5F9FD 30%);background:-o-linear-gradient(bottom,#C2CFDD 0,#F5F9FD 30%);background:linear-gradient(to top,#C2CFDD 0,#F5F9FD 30%)}
#topNav_wapper .sidebar-nav .section .dropdown-menu{position:relative}
}
#topNav_wapper .sidebar-nav .section{float:left}
#topNav_wapper .sidebar-nav .section a:active,#topNav_wapper .sidebar-nav .section a:link{color:#337ab7}
#topNav_wapper .sidebar-nav .section a:hover{color:#ff0500}
#topNav_wapper .sidebar-nav .section a:hover,#topNav_wapper .sidebar-nav .section a:visited{background:-webkit-gradient(linear,left bottom,left top,from(#C2CFDD),to(#fff));background:-webkit-linear-gradient(bottom,#C2CFDD,#fff);background:-moz-linear-gradient(bottom,#C2CFDD,#fff);background:-o-linear-gradient(bottom,#C2CFDD,#fff);background:linear-gradient(to top,#C2CFDD,#fff);margin:-1px;border:1px solid #DCE4E9}
#topNav_wapper .sidebar-nav .section .dropdown-menu{background:-webkit-gradient(linear,left bottom,left top,from(#F6F9FB),to(#E9F2F6));background:-webkit-linear-gradient(bottom,#F6F9FB,#E9F2F6);background:-moz-linear-gradient(bottom,#F6F9FB,#E9F2F6);background:-o-linear-gradient(bottom,#F6F9FB,#E9F2F6);background:linear-gradient(to top,#F6F9FB,#E9F2F6);-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:0;padding:0;width:100%!important}
#topNav_wapper .sidebar-nav .section .glyphicon{padding-right:1rem}
#topNav_wapper .sidebar-nav .section.subsection{width:100%}
#topNav_wapper .sidebar-nav .section.subsection a{color:#337ab7;padding:1rem}
#topNav_wapper .sidebar-nav .section.subsection a:hover{color:#ff0500}
#topNav_wapper .sidebar-nav .caret{position:absolute;top:1.5rem}
#topNav_wapper .sideBtn{position:fixed;display:block;background-color:#7D8892}
#topNav_wapper .sideBtn .glyphicon{color:#fff;display:block;top:35%}
@media (min-width:768px){#topNav_wapper .logo,#topNav_wapper .sideavatar{display:none}
#topNav_wapper .topNav{display:block;width:100%}
#topNav_wapper .sideBtn{display:none}
}
#topNav_wapper::after{clear:both}
@media (max-width:768px){#topNav_wapper{position:fixed;right:0;left:0;top:0;z-index:1030;border:none}
#topNav_wapper .logo{position:fixed;display:block;z-index:1031;width:100%;min-width:24rem;top:1rem;font-size:2rem;overflow:hidden}
#topNav_wapper .logo::before{width:3.5rem;height:3.5rem;margin-left:1rem;float:left;content:"";display:block;background:url(../img/zeiss-logo.svg) no-repeat}
#topNav_wapper .sideavatar{position:fixed;top:.5rem;right:6rem;z-index:1032}
#topNav_wapper .sideavatar .avatar{position:relative;text-align:center;float:left;height:4rem;width:4rem;-webkit-border-radius:4rem;-moz-border-radius:4rem;border-radius:4rem;overflow:hidden}
#topNav_wapper .sideavatar .avatar img{position:absolute;left:-50%;right:-50%;height:100%;vertical-align:middle;margin:0 auto;-webkit-box-flex:1;-webkit-flex:auto;-moz-box-flex:1;-ms-flex:auto;flex:auto}
#topNav_wapper .sideavatar .greet,#topNav_wapper .sideavatar .logout{float:left;padding-left:1rem}
#topNav_wapper .topNav{width:100%;border-width:0;padding-top:5rem;overflow:hidden}
#topNav_wapper .topNav li,#topNav_wapper .topNav ul{width:100%}
#topNav_wapper .topNav.collased,#topNav_wapper .topNav.nav_collapse{-webkit-animation:close-sideBar .1s forwards;-moz-animation:close-sideBar .1s forwards;-o-animation:close-sideBar .1s forwards;animation:close-sideBar .1s forwards}
#topNav_wapper .sideBtn{top:0;font-size:2rem;right:0;height:5rem;width:5rem;z-index:1032}
#topNav_wapper .sideBtnIcon-open::before{content:'\e011'}
#topNav_wapper .sideBtnIcon-close::before{content:'\e236'}
@-webkit-keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@-moz-keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@-o-keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@-webkit-keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
@-moz-keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
@-o-keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
@keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
}
@media (max-width:768px) and (min-width:400px) and (max-width:500px){#topNav_wapper .greet,#topNav_wapper .logout{display:none}
}
@media (max-width:768px) and (min-width:320px) and (max-width:400px){#topNav_wapper .sideavatar{display:none}
}
@media (max-width:768px) and (max-width:320px){#topNav_wapper .logo small,#topNav_wapper .sideavatar{display:none}
}
#progressbar{margin:0 auto}
#progressbar .operationtime{display:block}
#progressbar:after{clear:both}
#progressbar li{display:block;color:#000;line-height:4rem;width:25%}
#progressbar li a{display:block;width:100%;text-align:center;line-height:2rem}
#progressbar li::before{content:"";display:block;text-align:center;font-size:2rem;width:4rem;height:4rem;-webkit-border-radius:2rem;-moz-border-radius:2rem;border-radius:2rem;margin:0 auto;background-color:#d4d4d4;position:relative;z-index:2}
#progressbar li::after{position:relative;height:.2rem;width:-webkit-calc(96%);width:-moz-calc(96%);width:calc(96%);top:-6rem;left:-webkit-calc(52%);left:-moz-calc(52%);left:calc(52%);content:"";display:block;background-color:#d4d4d4;z-index:1}
#progressbar li:last-child::after{display:none}
#progressbar li:first-child{margin-left:0}
#progressbar li.complated::before{content:"\e013";background-color:#506687}
#progressbar li.infomation::before{content:"\e101";background-color:#506687}
#progressbar li.validating::before{content:"\e085";background-color:#c4cf25}
#progressbar li.viewed::before{content:"\e105";background-color:#506687}
#progressbar li.reject::before{content:'\e014';background-color:#de4747}
#progressbar li.active::before{color:#FFF}
*{padding:0;margin:0}
html{font-size:10px}
.search_wapper{margin:2rem 0;background-color:#7D8892;padding:1rem .5rem;-webkit-border-radius:.5rem;-moz-border-radius:.5rem;border-radius:.5rem}
.search_wapper .querycontrols{color:#fff}
@media (min-width:768px){.contentTitle h3{margin-top:0}
}