.JumpButton button,.JumpInput input{padding-left:3rem;padding-right:1rem;width:100%;height:2.5rem;border-radius:1rem;border-style:none;text-align:center}
.input-info::before{content:''}
.input-info.success::before{content:'\e084'}
.input-info.fail::before{content:'\e083'}
.JumpButton button{color:#6b759f;background:linear-gradient(to bottom,#fff,#f5f5f5)}
.JumpButton{-webkit-animation:jumpIn .5s forwards ease;animation:jumpIn .5s forwards ease}
.JumpButton button:hover{color:#FFF;background:linear-gradient(to bottom,#8591c4,#6b759f)}
.JumpInput{position:relative;-webkit-animation:jumpIn .5s forwards ease;animation:jumpIn .5s forwards ease}
.JumpInput input{color:#6b759f;background:linear-gradient(to bottom,#fff,#f5f5f5)}
.JumpInput input:focus{border-style:none;outline:0;color:#fff;background:linear-gradient(to bottom,#8591c4,#6b759f)}
.icon-input{color:#d0d0d0;position:absolute;z-index:1;left:1rem;top:.5rem;height:1.5rem;width:1.5rem}
.JumpInput input::-moz-placeholder,.JumpInput input::-ms-input-placeholder,.JumpInput input::-o-placeholder,.JumpInput input::-webkit-input-placeholder{color:#6b759f}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
@-webkit-keyframes jumpIn{0%{-webkit-transform:scale(0);transform:scale(0)}
100%,50%{-webkit-transform:scale(1);transform:scale(1)}
90%{-webkit-transform:scale(1.1);transform:scale(1.1)}
}
@keyframes jumpIn{0%{-webkit-transform:scale(0);transform:scale(0)}
100%,50%{-webkit-transform:scale(1);transform:scale(1)}
90%{-webkit-transform:scale(1.1);transform:scale(1.1)}
}
#progressbar{counter-reset:go;margin:0 auto}
#progressbar:after{clear:both}
#progressbar li{display:block;float:left;list-style:none;color:#000;line-height:4rem;width:30%}
#progressbar li a{display:block;width:100%;text-align:center}
#progressbar li::before{counter-increment:go;content:counter(go);display:block;text-align:center;font-size:2rem;width:4rem;height:4rem;border-radius:2rem;margin:0 auto;background-color:#d4d4d4;position:relative}
#progressbar li:after{position:relative;height:.2rem;width:calc(96%);top:-6rem;left:calc(52%);content:"";display:block;background-color:#d4d4d4}
#progressbar li:last-child::after{display:none}
#progressbar li:first-child{margin-left:0}
#progressbar li.active::before{background-color:#36908d;color:#FFF}
#progressbar li.active::after{background-color:#36908d}
*{padding:0;margin:0}
html{font-size:10px}
.search_wapper{margin:2rem 0;background-color:#40679C;padding:1rem .5rem;border-radius:.5rem}
.search_wapper .querycontrols{color:#fff}
@media (min-width:768px){.contentTitle h3{margin-top:0}
}