#progressbar li,#sideNav_wapper li,#sideNav_wapper ul{list-style:none;float:left}
.page-header{margin:0;border-bottom:0;padding:10px}
@media (max-width:400px){.page-header{display:block}
}
@media (min-width:400px) and (max-width:768px){.page-header{display:none}
}
@media (min-width:768px){.page-header .header_logo .logo:before{display:inline-block;width:4rem;height:4rem;content:'';background:url(../img/zeiss-logo.svg) no-repeat}
}
.JumpButton button,.JumpInput input{padding-left:3rem;padding-right:1rem;width:100%;text-align:center;border-style:none}
@media (max-width:768px){.page-header{margin:0}
.page-header .header_logo{display:none}
#sideNav_wapper .sidebar-nav .section .dropdown-menu{position:relative}
}
.page-header .header_userInfo .avatar{float:left}
.page-header .header_userInfo .information{margin-left:30%}
.page-header .header_userInfo .information .account,.page-header .header_userInfo .information .profile{display:inline-block;float:left}
.page-header.row{margin-left:0;margin-right:0}
.input-info::before{content:''}
.input-info.success::before{content:'\e084'}
.input-info.fail::before{content:'\e083'}
.JumpButton button{height:2.5rem;-webkit-border-radius:1rem;-moz-border-radius:1rem;border-radius:1rem;color:#6b759f;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));background:-webkit-linear-gradient(top,#fff,#f5f5f5);background:-moz-linear-gradient(top,#fff,#f5f5f5);background:-o-linear-gradient(top,#fff,#f5f5f5);background:linear-gradient(to bottom,#fff,#f5f5f5)}
.JumpButton{-webkit-animation:jumpIn .5s forwards ease;-moz-animation:jumpIn .5s forwards ease;-o-animation:jumpIn .5s forwards ease;animation:jumpIn .5s forwards ease}
.JumpButton button:hover{color:#FFF;background:-webkit-gradient(linear,left top,left bottom,from(#8591c4),to(#6b759f));background:-webkit-linear-gradient(top,#8591c4,#6b759f);background:-moz-linear-gradient(top,#8591c4,#6b759f);background:-o-linear-gradient(top,#8591c4,#6b759f);background:linear-gradient(to bottom,#8591c4,#6b759f)}
.JumpInput{position:relative;-webkit-animation:jumpIn .5s forwards ease;-moz-animation:jumpIn .5s forwards ease;-o-animation:jumpIn .5s forwards ease;animation:jumpIn .5s forwards ease;font-size:2rem}
.JumpInput input{height:5rem;-webkit-border-radius:1rem;-moz-border-radius:1rem;border-radius:1rem;color:#6b759f;background:-webkit-gradient(linear,left top,left bottom,from(#779AEB),to(#5685D6));background:-webkit-linear-gradient(top,#779AEB,#5685D6);background:-moz-linear-gradient(top,#779AEB,#5685D6);background:-o-linear-gradient(top,#779AEB,#5685D6);background:linear-gradient(to bottom,#779AEB,#5685D6)}
.JumpInput input:focus{border-style:none;outline:0;color:#fff;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));background:-webkit-linear-gradient(top,#fff,#f5f5f5);background:-moz-linear-gradient(top,#fff,#f5f5f5);background:-o-linear-gradient(top,#fff,#f5f5f5);background:linear-gradient(to bottom,#fff,#f5f5f5)}
.icon-input{font-size:4rem;color:#d0d0d0;position:relative;z-index:1;left:1rem;top:.5rem;height:1.5rem;width:1.5rem}
.JumpInput input::-moz-placeholder,.JumpInput input::-ms-input-placeholder,.JumpInput input::-o-placeholder,.JumpInput input::-webkit-input-placeholder{color:#6b759f}
input:focus::-webkit-input-placeholder{color:transparent}
input:focus:-moz-placeholder{color:transparent}
input:focus::-moz-placeholder{color:transparent}
input:focus:-ms-input-placeholder{color:transparent}
@-webkit-keyframes jumpIn{0%{-webkit-transform:scale(0);transform:scale(0)}
100%,50%{-webkit-transform:scale(1);transform:scale(1)}
90%{-webkit-transform:scale(1.02);transform:scale(1.02)}
}
@-moz-keyframes jumpIn{0%{-moz-transform:scale(0);transform:scale(0)}
100%,50%{-moz-transform:scale(1);transform:scale(1)}
90%{-moz-transform:scale(1.02);transform:scale(1.02)}
}
@-o-keyframes jumpIn{0%{-o-transform:scale(0);transform:scale(0)}
100%,50%{-o-transform:scale(1);transform:scale(1)}
90%{-o-transform:scale(1.02);transform:scale(1.02)}
}
@keyframes jumpIn{0%{-webkit-transform:scale(0);-moz-transform:scale(0);-o-transform:scale(0);transform:scale(0)}
100%,50%{-webkit-transform:scale(1);-moz-transform:scale(1);-o-transform:scale(1);transform:scale(1)}
90%{-webkit-transform:scale(1.02);-moz-transform:scale(1.02);-o-transform:scale(1.02);transform:scale(1.02)}
}
.modal-infopart{clear:both}
.modal-infopart.baseInfomation ul{width:100%;display:block;padding:1rem;float:left}
.modal-infopart.baseInfomation ul li{list-style:none;display:block;width:50%;float:left}
.modal-infopart.baseInfomation textarea{border:0;background-color:transparent;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;resize:none;color:#666464}
.modal-infopart::before{text-align:left;content:'';display:block;width:100%;min-height:4rem;background-color:#e4e6eb;font-size:2rem;font-weight:700;color:#000;padding:.5rem 1rem;margin-bottom:1rem}
.orderStatus::before{content:'订单状态'!important}
.baseInfomation::before{content:'基础信息'!important}
.goodsInfomation::before{content:'物品信息'!important}
.Approval::before{content:'审批'!important}
#progressbar{margin:0 auto}
#progressbar .operationtime{display:block}
#progressbar:after{clear:both}
#progressbar li{display:block;color:#000;line-height:4rem;width:30%}
#progressbar li a{display:block;width:100%;text-align:center;line-height:2rem}
#progressbar li::before{content:"asas";display:block;text-align:center;font-size:2rem;width:4rem;height:4rem;-webkit-border-radius:2rem;-moz-border-radius:2rem;border-radius:2rem;margin:0 auto;background-color:#d4d4d4;position:relative;z-index:2}
#progressbar li:after{position:relative;height:.2rem;width:-webkit-calc(96%);width:-moz-calc(96%);width:calc(96%);top:-6rem;left:-webkit-calc(52%);left:-moz-calc(52%);left:calc(52%);content:"";display:block;background-color:#d4d4d4;z-index:1}
#progressbar li:last-child::after{display:none}
#progressbar li:first-child{margin-left:0}
#progressbar li.active::before{background-color:#36908d;color:#FFF}
#progressbar li.active::after{background-color:#36908d}
#sideNav_wapper{float:left;width:100%;background-color:#7D8892}
#sideNav_wapper .sidebar-nav .section{float:left}
#sideNav_wapper .sidebar-nav .section a:active,#sideNav_wapper .sidebar-nav .section a:hover,#sideNav_wapper .sidebar-nav .section a:link,#sideNav_wapper .sidebar-nav .section a:visited{color:#FFF}
#sideNav_wapper .sidebar-nav .section a:hover,#sideNav_wapper .sidebar-nav .section a:visited{background-color:#374655}
#sideNav_wapper .sidebar-nav .section .dropdown-menu{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:none;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;margin:0;padding:0;width:100%}
#sideNav_wapper .sidebar-nav .section .open a{color:#000}
#sideNav_wapper .sidebar-nav .section .glyphicon{padding-right:1rem}
#sideNav_wapper .sidebar-nav .section.subsection{width:100%;background-color:#7D8892}
#sideNav_wapper .sidebar-nav .section.subsection a{padding:1rem}
#sideNav_wapper .sidebar-nav .section.subsection a:active,#sideNav_wapper .sidebar-nav .section.subsection a:hover,#sideNav_wapper .sidebar-nav .section.subsection a:link,#sideNav_wapper .sidebar-nav .section.subsection a:visited{color:#fff}
#sideNav_wapper .sidebar-nav .caret{position:absolute;top:1.5rem}
#sideNav_wapper .sideBtn{position:fixed;display:block;background-color:#123}
#sideNav_wapper .sideBtn .glyphicon{color:#fff;display:block;top:35%}
@media (min-width:768px){#sideNav_wapper .logo,#sideNav_wapper .sideavatar{display:none}
#sideNav_wapper .sideNav{display:block;width:100%}
#sideNav_wapper .sideBtn{display:none}
}
#sideNav_wapper ::after{clear:both}
@media (max-width:768px){#sideNav_wapper{position:fixed;right:0;left:0;top:0;z-index:1030;border:none}
#sideNav_wapper .logo{position:fixed;display:block;z-index:1031;width:100%;min-width:24rem;top:1rem;color:#FFF;font-size:2rem;overflow:hidden}
#sideNav_wapper .logo::before{width:14rem;margin-left:1rem;float:left;height:2.2rem;content:"";display:block;background:url(../img/logo-white.png) no-repeat;-webkit-background-size:auto 100%;-moz-background-size:auto 100%;-o-background-size:auto 100%;background-size:auto 100%}
#sideNav_wapper .sideavatar{color:#fff;position:fixed;top:.5rem;right:6rem;z-index:1032}
#sideNav_wapper .sideavatar .avatar{position:relative;text-align:center;float:left;height:4rem;width:4rem;-webkit-border-radius:4rem;-moz-border-radius:4rem;border-radius:4rem;overflow:hidden}
#sideNav_wapper .sideavatar .avatar img{position:absolute;left:-50%;right:-50%;height:100%;vertical-align:middle;margin:0 auto;-webkit-box-flex:1;-webkit-flex:auto;-moz-box-flex:1;-ms-flex:auto;flex:auto}
#sideNav_wapper .sideavatar .greet,#sideNav_wapper .sideavatar .logout{float:left;padding-left:1rem}
#sideNav_wapper .sideavatar .logout a{color:#FFF}
#sideNav_wapper .sideNav{width:100%;border-width:0;padding-top:5rem;overflow:hidden}
#sideNav_wapper .sideNav li,#sideNav_wapper .sideNav ul{width:100%}
#sideNav_wapper .sideNav.collased,#sideNav_wapper .sideNav.nav_collapse{-webkit-animation:close-sideBar .1s forwards;-moz-animation:close-sideBar .1s forwards;-o-animation:close-sideBar .1s forwards;animation:close-sideBar .1s forwards}
#sideNav_wapper .sideBtn{top:0;font-size:2rem;right:0;height:5rem;width:5rem;z-index:1032}
#sideNav_wapper .sideBtnIcon-open::before{content:'\e011'}
#sideNav_wapper .sideBtnIcon-close::before{content:'\e236'}
@-webkit-keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@-moz-keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@-o-keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@keyframes close-sideBar{from{height:auto}
to{height:5rem}
}
@-webkit-keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
@-moz-keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
@-o-keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
@keyframes open-sideBar{from{height:5rem}
to{height:auto}
}
}
@media (max-width:768px) and (min-width:400px) and (max-width:500px){#sideNav_wapper .greet,#sideNav_wapper .logout{display:none}
}
@media (max-width:768px) and (min-width:320px) and (max-width:400px){#sideNav_wapper .sideavatar{display:none}
}
@media (max-width:768px) and (max-width:320px){#sideNav_wapper .logo small,#sideNav_wapper .sideavatar{display:none}
}
@media (min-width:768px){.contentTitle h3{margin-top:0}
}
*{padding:0;margin:0}
html{font-size:10px}
.search_wapper{margin:2rem 0;background-color:#7D8892;padding:1rem .5rem;-webkit-border-radius:.5rem;-moz-border-radius:.5rem;border-radius:.5rem}
.search_wapper .querycontrols{color:#fff}