* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
.operation-menu::before {
  clear: both;
  content: '';
}
.operation-menu {
  min-height: 4rem;
  float: left;
  width: 100%;
  background-color: #7D8892;
  padding: 0.5rem 0.3rem;
  -webkit-border-radius: 0 1rem 0 0;
  -moz-border-radius: 0 1rem 0 0;
  border-radius: 0 1rem 0 0;
}
.operation-menu button {
  float: right;
  margin-left: 0.5rem;
}
.tab-content {
  width: 100%;
  float: left;
}
.tab-content table {
  table-layout: fixed;
  word-wrap: break-word;
}
.tab-content table td button {
  float: left;
  font-size: 10px;
}
/***
取消bootstrap的样式
***/
.table > tbody > tr.info_card_row > td,
.table > tbody > tr.info_card_row > th,
.table > tfoot > tr.info_card_row > td,
.table > tfoot > tr.info_card_row > th,
.table > thead > tr.info_card_row > td,
.table > thead > tr.info_card_row > th {
  padding: 0;
}
tr.info_card_row td {
  border: 0;
  padding: 0;
  margin: 0;
}
tr.info_card_row td button {
  float: left;
}
tr.info_card_row td .card {
  margin: 0 0 0.2rem;
  -webkit-border-radius: 0 0 0.3rem 0.3rem;
  -moz-border-radius: 0 0 0.3rem 0.3rem;
  border-radius: 0 0 0.3rem 0.3rem;
  -webkit-box-shadow: 0 0.5rem 1rem #888888;
  -moz-box-shadow: 0 0.5rem 1rem #888888;
  box-shadow: 0 0.5rem 1rem #888888;
  border: 1px solid #4A8BC2;
}
tr.info_card_row td .card .card_head {
  padding: 0.4rem;
  color: #fff;
}
tr.info_card_row td .card .card_body {
  margin: 1rem;
}
tr.info_card_row td .card .card_body .card_data_row {
  border-bottom: 0.1rem solid #e5e5e5;
}
tr.info_card_row td .card .card_body .card_data_title {
  font-weight: bolder;
}
tr.info_card_row td .card .card_foot {
  border-top: 0.1rem solid #e5e5e5;
  margin: 1rem;
}
tr.info_card_row td .card .card_foot .date {
  float: right;
}
.selection-group::after {
  clear: both;
}
@media (min-width: 768px) {
  .info_card_row {
    display: none;
  }
}
@media (max-width: 768px) {
  .content_wapper .nav-tabs {
    border-bottom: none !important;
  }
  .info_card_row.closeRow {
    overflow: hidden;
    -webkit-animation: closeHeight 1s forwards;
    -moz-animation: closeHeight 1s forwards;
    -o-animation: closeHeight 1s forwards;
    animation: closeHeight 1s forwards;
  }
  .info_card_row.openRow {
    overflow: hidden;
    -webkit-animation: extendHeight 1s forwards;
    -moz-animation: extendHeight 1s forwards;
    -o-animation: extendHeight 1s forwards;
    animation: extendHeight 1s forwards;
  }
}
@-webkit-keyframes extendHeight {
  from {
    height: 0;
  }
  to {
    height: 20rem;
  }
}
@-moz-keyframes extendHeight {
  from {
    height: 0;
  }
  to {
    height: 20rem;
  }
}
@-o-keyframes extendHeight {
  from {
    height: 0;
  }
  to {
    height: 20rem;
  }
}
@keyframes extendHeight {
  from {
    height: 0;
  }
  to {
    height: 20rem;
  }
}
@-webkit-keyframes closeHeight {
  from {
    height: 20rem;
  }
  to {
    height: 0;
  }
}
@-moz-keyframes closeHeight {
  from {
    height: 20rem;
  }
  to {
    height: 0;
  }
}
@-o-keyframes closeHeight {
  from {
    height: 20rem;
  }
  to {
    height: 0;
  }
}
@keyframes closeHeight {
  from {
    height: 20rem;
  }
  to {
    height: 0;
  }
}
