html {
  font-size: 10px;
}
html body {
  height: 100%;
  overflow: hidden;
}
#login-wapper {
  position: relative;
  width: 100%;
}
#login-wapper .system-name {
  color: #fff;
  right: 1rem;
  top: 1rem;
  position: absolute;
}
@media (min-width: 768px) {
  #login-wapper .system-name {
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  #login-wapper .system-name {
    font-size: 1rem;
  }
}
#login-wapper .bg {
  color: #fff;
  background: #141e8c;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #141e8c), to(#101975));
  background: -webkit-linear-gradient(top, #141e8c 60%, #101975 100%);
  background: -moz-linear-gradient(top, #141e8c 60%, #101975 100%);
  background: -o-linear-gradient(top, #141e8c 60%, #101975 100%);
  background: linear-gradient(to bottom, #141e8c 60%, #101975 100%);
  text-align: center;
  height: 28rem;
}
#login-wapper .bg .logo {
  background: url('../img/zeiss.svg') no-repeat;
  width: 10%;
  min-width: 10rem;
  margin: 0 auto;
  margin-top: 10rem;
  -webkit-animation: popOut 0.5s forwards;
  -moz-animation: popOut 0.5s forwards;
  -o-animation: popOut 0.5s forwards;
  animation: popOut 0.5s forwards;
}
@media (min-width: 768px) {
  #login-wapper .bg .logo {
    font-size: 3rem;
    line-height: 5rem;
    width: 16rem;
    height: 3.868rem ;
  }
}
@media (max-width: 768px) {
  #login-wapper .bg .logo {
    font-size: 4rem;
    line-height: 3rem;
    width: 10rem;
    height: 2.418rem ;
  }
}
#login-wapper .bg .logo::before {
  content: "";
  display: block;
}
#login-wapper .login-box {
  position: relative;
  top: -8rem;
  background-color: #fff;
  width: 100%;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 5rem #7e7e7e;
  -moz-box-shadow: 0 0 5rem #7e7e7e;
  box-shadow: 0 0 5rem #7e7e7e;
}
@media (min-width: 768px) {
  #login-wapper .login-box {
    max-width: 35rem;
  }
}
@media (max-width: 768px) {
  #login-wapper .login-box {
    top: -12rem;
  }
}
#login-wapper .col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login-wapper .loginInputGroup {
  overflow: hidden;
  padding: 3rem 0;
  width: 80%;
}
#login-wapper .loginInputGroup .input-group {
  padding-bottom: 2rem;
}
