#login-wapper {
  position: relative;
  width: 100%;
}
#login-wapper .bg {
  height: 28rem;
  background: #779AEB;
  background: -webkit-gradient(linear, left top, left bottom, from(#779AEB), to(#0F57A8));
  background: -webkit-linear-gradient(top, #779AEB, #0F57A8);
  background: -moz-linear-gradient(top, #779AEB, #0F57A8);
  background: -o-linear-gradient(top, #779AEB, #0F57A8);
  background: linear-gradient(to bottom, #779AEB, #0F57A8);
}
#login-wapper .bg .greet {
  color: #fff;
  font-size: 7rem;
  width: 100%;
  text-align: center;
  padding-top: 8rem;
  -webkit-animation: popOut 0.5s forwards;
  -moz-animation: popOut 0.5s forwards;
  -o-animation: popOut 0.5s forwards;
  animation: popOut 0.5s forwards;
}
#login-wapper .login-box {
  position: relative;
  top: -10rem;
  background-color: #fff;
  width: 35rem;
  height: 25rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 5rem #343434;
  -moz-box-shadow: 0 0 5rem #343434;
  box-shadow: 0 0 5rem #343434;
}
#login-wapper .col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#login-wapper .loginInputGroup {
  overflow: hidden;
  padding-top: 3rem;
  width: 60%;
}
#login-wapper .loginInputGroup .input-group {
  padding-top: 2rem;
}
#login-wapper .loginInputGroup .btn-group {
  padding-top: 1rem;
}
@-webkit-keyframes popOut {
  0% {
    padding-top: 15rem;
  }
  70% {
    padding-top: 9rem;
  }
  90% {
    padding-top: 11rem;
  }
  100% {
    padding-top: 10rem;
  }
}
@-moz-keyframes popOut {
  0% {
    padding-top: 15rem;
  }
  70% {
    padding-top: 9rem;
  }
  90% {
    padding-top: 11rem;
  }
  100% {
    padding-top: 10rem;
  }
}
@-o-keyframes popOut {
  0% {
    padding-top: 15rem;
  }
  70% {
    padding-top: 9rem;
  }
  90% {
    padding-top: 11rem;
  }
  100% {
    padding-top: 10rem;
  }
}
@keyframes popOut {
  0% {
    padding-top: 15rem;
  }
  70% {
    padding-top: 9rem;
  }
  90% {
    padding-top: 11rem;
  }
  100% {
    padding-top: 10rem;
  }
}
