<div class="page-header row">
  <div class="header_logo col-md-10 col-md-9 col-sm-8 ">
    <span class="logo text-info"></span>
    <span class="system_name h4">Marketing Materials Management</span>
  </div>
  <div class="header_userInfo col-md-3 col-sm-4 pull-right">
    <div class="information clearfix text-center">
      <span class="account">Hello,<span class="uname"></span></span>
      <a href="javascript:;" class="logout">Log Out</a></span>
    </div>
  </div>
</div>
