<div class="modal fade" id="EditBrochure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">编辑物品</h4>
      </div>

      <div class="modal-body">
        <form id="edit_Brochure" class="form-horizontal" role="form">
          <%-include('/components/input/forminput',{name:"物品名称",id:"BrochureName",type:"text",placeholder:"请输入物品名称"})%>
            <%-include('/components/input/forminput',{name:"物品数量",id:"Quantity",type:"text",placeholder:"请输入物品数量"})%>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary center-block col-xs-12">完成</button>
      </div>
    </div>
  </div>
</div>
