/*HACK 解决多模态关闭之后滚轴不动的问题 */
.modal {
  overflow: auto !important;
}
@media (min-width: 768px) {
  .lg-modal > .modal-dialog {
    width: 100%;
    min-width: 768px;
  }
}
.modal-body textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  color: #666464;
}
.modal-body textarea[disabled] {
  border: 0;
  background-color: transparent;
}
.modal-body .form-control[readonly],
.modal-body input[readonly] {
  background-color: #fff;
}
.modal-infopart {
  position: relative;
  clear: both;
}
.modal-infopart .addBtn {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}
.modal-infopart.baseInfomation > div.comment,
.modal-infopart.baseInfomation > ul {
  width: 100%;
  display: block;
  padding: 1rem;
  float: left;
}
.modal-infopart.baseInfomation > div.comment li,
.modal-infopart.baseInfomation > ul li {
  list-style: none;
  display: block;
  width: 50%;
  float: left;
}
.modal-infopart::before {
  text-align: left;
  content: '';
  display: block;
  width: 100%;
  min-height: 4rem;
  background-color: #e4e6eb;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
.orderStatus::before {
  content: '订单状态' !important;
}
.baseInfomation::before {
  content: '基础信息' !important;
}
.goodsInfomation::before {
  content: '物品信息' !important;
}
.expressInfomation::before {
  content: '物流信息' !important;
}
.Approval::before {
  content: '审批' !important;
}
