<!-- progressbar -->
<ul id="progressbar" class="clearfix">
  <li class="glyphicon infomation"><a href="#">提出申请<span class="operationtime">2016.11.12  00:00</span></a></li>
  <li class="glyphicon complated"><a href="#">直线经理<span class="operationtime">2016.11.12  00:00</span></a></li>
  <li class="glyphicon validating"><a href="#">BU经理<span class="operationtime">2016.11.12  00:00</span></a></li>
  <li class="glyphicon reject"><a href="#">BU经理<span class="operationtime">2016.11.12  00:00</span></a></li>
</ul>
