<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">添加供应商</h4>
      </div>

      <div class="modal-body">
        <form id="add_Supplier" class="form-horizontal" role="form">
          <div class="form-group col-md-12">
            <label for="_suppliercode">供应商编码:D</label>
            <input name="_suppliercode" id="_suppliercode" placeholder="请输入供应商编码" class="form-control" />
          </div>
          <div class="form-group col-md-12">
            <label for="_suppliername" class="control-label">姓名:</label>
            <input name="_suppliername" id="_suppliername" placeholder="请输入姓名" class="form-control" />
          </div>
          <div class="form-group col-md-12">
            <label for="_phonenumber" class="control-label">手机号:</label>
            <input name="_phonenumber" id="_phonenumber" placeholder="请输入手机号" class="form-control" />
          </div>
          <div class="form-group col-md-12">
            <label for="_accountname" class="control-label">账号:</label>
            <input name="_accountname" id="_accountname" placeholder="请输入账号" class="form-control" />
          </div>
          <div class="form-group col-md-12">
            <label for="_password" class="control-label">密码:</label>
            <input name="_password" id="_password" placeholder="请输入密码" class="form-control" />
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary center-block col-xs-12" onclick="addSupplier()">完成</button>
      </div>
    </div>
  </div>
</div>
<script>
function addSupplier() {
  var data = formToSet("#add_Supplier")
  var dealerId = apiConfig.supplier.Add(data)
  if(dealerId){
    $("#Add").modal("hide")
    ClearInputs("#add_Supplier")
    ClearSelecton("#add_Supplier")
    ClearTextArea("#add_Supplier")
  }
  table_init()
}
</script>
