<div class="contentTitle clearfix">
  <h3>审批</h3>
  <div class="form-group pull-right col-xs-12 col-sm-6 col-md-4" id="tableQuery">
    <div class="form-group col-xs-9">
      <input type="text" class="form-control" name="search_box" id="search_box" placeholder="在这里输入关键字" />
    </div>
    <button type="submit" class="btn btn-primary col-xs-3">Query</button>
  </div>
</div>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{applying:"待审批",finished:"已完成",reject:"已拒绝"}})%>
  <div class="operation-menu">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#PurchaseRequisition">申领物品</button>
  </div>
  <div class="table-content tab-content">
    <div class="tab-pane" id="applying">
    </div>
    <div class="tab-pane" id="finished">
    </div>
    <div class="tab-pane" id="reject">
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
  <%-include('/components/modal/modal',{type:"Dealer.PurchaseRequisition.PurchaseRequisition"})%>
    <%-include('/components/modal/modal',{type:"Common.Delete"})%>
      <%-include('/components/modal/modal',{type:"Admin.Order.Detail"})%>
        <script>
          //载入订单管理表操作
          var table_init = function() {
            var templateOpts = tableStructures.Admin.OrderAdmin.Order
            var dataOrder = ["_id", "_prnumber", "_purposefk", "_requestorfk", "_prcreated", "_processstatus"]
            new table().loadFromTemplateJson("/api/purchaserequisition/top(100)", templateOpts, dataOrder).to("#applying")
          }

          // //删除订单操作
          //   var del = function(rid) {
          //     $("#Delete")
          //       .modal()
          //   }
          //   var edit = function(rid) {
          //     $("#EditBrochure")
          //       .modal()
          //   }

          //订单详情操作
          var Detail = function(primaryKey) {
            console.log("primaryKey", primaryKey);
            var t = new table("./test/dealer/MyOrder/OrderDetail/OrderDetail.json")
            t.load().to("#Detail .goodsInfomation")
            $("#Detail").modal()
          }
          $(document).ready(function() {
            table_init()
          })
        </script>
