<div class="contentTitle clearfix">
  <h3>审批</h3>
</div>

<%-include('/components/contentTabs/tabSwitcher',{tabs:{applying:"待审批",finished:"已完成",reject:"已拒绝"}})%>
  <div class="operation-menu">

  </div>
  <div class="table-content tab-content">
    <div class="tab-pane" id="applying">
    </div>
    <div class="tab-pane" id="finished">
    </div>
    <div class="tab-pane" id="reject">
    </div>
    <nav style="text-align: center">
      <ul class="pagination">
        <li><a href="#">&laquo;</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
      </ul>
    </nav>
  </div>
  <%-include('/components/modal/modal',{type:"Employee.PurchaseRequisition.PurchaseRequisition"})%>
    <%-include('/components/modal/modal',{type:"Common.Delete"})%>
      <%-include('/components/modal/modal',{type:"Admin.Order.Detail"})%>
        <script>
          //载入订单管理表操作
          var table_init = function() {
            var templateOpts = tableStructures.Admin.OrderAdmin.Order
            new table().loadFromTemplateJson(apiConfig.PRApproverView.Paging(getCookie("name"),false,0,100), templateOpts).to("#applying")
          }

          // //删除订单操作
          //   var del = function(rid) {
          //     $("#Delete")
          //       .modal()
          //   }
          //   var edit = function(rid) {
          //     $("#EditBrochure")
          //       .modal()
          //   }

          //订单详情操作

          var Detail = function(PRid) {
            PurchaseRequisition.detail(PRid)
          }

        </script>
