* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
}
.search_wapper {
  margin: 2rem 0;
  background-color: #40679C;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
}
.search_wapper .querycontrols {
  color: #fff;
}
